<% if (!has_config('comment.owner') || !has_config('comment.repo') || !has_config('comment.client_id') ||
		!has_config('comment.client_secret')) { %>
<div class="notification is-danger">
	You forgot to set the <code>owner</code>, <code>repo</code>, <code>client_id</code>, or <code>client_secret</code> for Gitment.
	Please set it in <code>_config.yml</code>.
</div>
<% } else { %>
<div id="comment-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
	const gitalk = new Gitalk({
		clientID: '<%= get_config('comment.client_id') %>',
		clientSecret: '<%= get_config('comment.client_secret') %>',
		repo: '<%= get_config('comment.repo') %>',    
		owner: '<%= get_config('comment.owner') %>',
		admin: ['<%= get_config('comment.owner') %>'],
		id: '<%= page.path %>',   
		distractionFreeMode: false,
	})

	gitalk.render('comment-container')
</script>
<% } %>